<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Method</title>
</head>
<body>
    <h2>PLease Fill In The Following:</h2>
    <form action="http://localhost:5000/success" method="post">
        <p>Name: <input type="text" name="name"></p>
        <p>Email: <input type="email" name="email"></p>
        <p>Contact: <input type="tel" name="contact"></p>
        <p>Pin: <input type="text" name="pin"></p>
        <p>Submit: <input type="submit" name="submit"></p>
        
    </form>
    
</body>
</html> -->