<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <h1>Embedding Python Statements in HTML</h1>
    <h2>Table For {{n}}</h2>
    {%for i in range(0,11)%}
        <h3>{{n}} X {{i}} = {{ n * i }}</h3>

    {% endfor %}
    


    <script src="{{url_for('static', filename='css/index.js')}}"></script>
</body>
</html>