<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOMEPAGE</h1>
    <h2>Give your info</h2>
    <form action="http://localhost:5000/submit" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label>Gender:</label><br>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male:</label>

        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female:</label><br>

        <label>Hobbies:</label><br>
        <input type="checkbox" id="reading" value="reading" name="hobbies">
        <label for="reading">Reading</label><br>
        <input type="checkbox" id="travelling" value="travelling" name="hobbies">
        <label for="travelling">Travelling</label><br>
        <input type="checkbox" id="cooking" value="cooking" name="hobbies">
        <label for="cooking">Cooking</label><br>
        <button type="submit">Submit</button>


        
    </form>
    
</body>
</html> -->