<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <div>
        <ul>
            <li>Ford</li>
            <li>Dodge</li>
            <li>Subaru</li>
        </ul>
    </div>
    <div>
        <h2>Delimiters: Jinja2 Template</h2>
        <ol>
            <li>{%...%} -> Used for statements</li>
            <li>{{...}} -> For expressions/variables to print the templates output</li>
            <li>{#...#} -> for comments not included in the templates output</li>
            <li>#...# -> for line statements</li>
        </ol>
    </div>
    
</body>
</html>