<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>
        table {
            padding: 5px;

        }
    </style>
</head>
<body>
    <p>Successful login</p>
    <table border="black">
        {% for key, value in data.items() %}
        <tr>
            <th>{{ key }}</th>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html> -->